*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #FDFDFD;
}
.page_container{
    width: 100%;
    height: 100%;
}
.search_bar_container{
    width: 100%;
    height: 15%;
    background-color:#161B21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.search_bar_container > h1 {
    color: #FDFDFD;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 3em;
    margin-left: 2%;
}
.search_input{
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 15px;
    width: 25%;
}

.search_input > input{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #161B21;
    padding-left: 30px;
    padding-bottom: 5px ;
    width: 100%;
    
}
.search_input > img{
    position: relative;
    bottom: 5px;
    left: 20px;
    width: 20px;
    height: 20px;
}
.search_input > input:focus{
    outline: none;
}
.search_input > input:focus::placeholder{
    color: transparent;
}
.information{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    gap: 17px;
}
p:first-child{
    color: #CAD1DA;
}
.information_number > .phone::before{
    content: url('./images/Vector\ 2.svg');
    position: relative;
       right: 5px;
       top: 3px;
       cursor: pointer;
  
}

p:last-child{
    color: #83868B;
}
.information_user{
    width: 60px;
    height: 60px;
    border: 1px solid #CAD1DA;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.information_user > * {
    color: #CAD1DA;
}
.information_cart{
    width: 60px;
    height: 60px;
    border: 1px solid #2AEFC3;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.information_cart > * {
    color: #2AEFC3;
}
nav{
    width: 100%;
    height: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  background-color: #29323D;
}
nav > a{
     text-decoration: none;
     color: #FDFDFD;
     font-weight: 200;
     font-size: .8em;
     position: relative;
}
nav > img{
   width: 20px;
   height: 20px;
   margin-right: -25px;
}
nav > a:nth-child(1)::before{
    content: url('./images/Star\ 1.svg'); 
    display: inline-block;
    position: relative;
    left: -3px;
    top: 7px;
    
    }
nav > a:nth-child(2)::before{
content: url('./images/Vector.svg'); 
display: inline-block;
position: relative;
left: -3px;
top: 7px;

}
a:first-child{
    line-height: 40px;
}
a:nth-child(2){
    line-height: 40px;
}
.main_information_container{
    width: 100%;
    height: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

 .main_information{
     width: 97%;
     height: 90%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     gap: 10px;
 }
 
 .left_side{
     flex: 1;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: repeat(5, 1fr);
     grid-template-areas: 
     "scroll main main main main "
     "scroll main main main main "
     "scroll main main main main "
     "scroll main main main main "
     ". bottom bottom bottom bottom";
     gap: 10px;
     background-color: #FDFDFD;
 }
 
 .left_scrollbar{
     display: flex;
     grid-area: scroll;
     flex-direction: column;
     justify-content: space-between;
     gap: 6px;
     align-items: center;
     overflow-y: scroll;
 }
 .left_main{
     grid-area: main;
     background-color: #F1F5F9;
 }
 .left_main > img{
     width: 80%;
     height: 100%;
     display: block;
     margin: auto;
     object-fit: contain;
 }
 .left_bottom{
    grid-area: bottom;
    background-color: #F1F5F9;
    overflow: hidden;
 }
 .left_bottom > img{
    display: block;
   width: 60%;
   height: 100%;
   object-fit: contain;
   margin: auto;
   transform: scale(2.7) translateY(14px);
   
}
 .left_mini_img{
     position: relative;
     width: 100%;
     height: 85px;
     flex-shrink: 0;
    background-color: #F1F5F9;
    
 }
 .left_mini_img > img{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 100%;
     height: 50%;
     object-fit: contain;
 }
 .right_side{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "main1 main1 main1 main1 main1 "
    "main2 main2 main2 main2 main2 "
    "main3 main3 main3 main3 main3 "
    "main4 main4 main4 main4 main4 "
    ". . . . .";
    gap: 10px;
    background-color: #FDFDFD;
}
 .right_side_top{
     grid-area: main1;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     border-bottom: 1px solid #CAD1DA;
     padding-bottom: 8px;
 }
 .right_side_top > h4{
    color: #161B21;
    margin: 10px 0;
 }
 .right_side_top > p{
    font-size: .8em;
    color: #161B21;
    font-weight: 100;
 }
 .right_side_middle{
  grid-area: main2;
  display: flex;
  flex-direction: column;
  gap: 8px;
 }
 .right_side_middle_top{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
 }
 .right_side_middle_top > .code {
     font-size: .7em;
     color: #5D656F;
 }
 .right_side_middle_top > .in_stock {
    font-size: .7em;
    color: #0EBE98;
}
.right_side_middle_top > .in_stock::after{
    content: url('./images/Ellipse\ 14.svg');
    position: relative;
    left: 5px;
    top: 3px;
    cursor: pointer;
}
 .right_side_middle_top > .share{
    margin-left: auto;
    color: #161B21;
    font-size: .7em;
 }
 .right_side_middle_top > .share::before{
     content: url('./images/Share.svg');
     position: relative;
     right: 5px;
     top: 3px;
     cursor: pointer;
 }
 .right_side_middle_middle{
     margin-top: 20px;
 }
 .right_side_middle_middle > p{
     color: #FFBF46;
     font-size: .7em;
 }
 .right_side_middle_middle > .new_price{
     font-size: 1.5em;
     
 }
 .right_side_middle_middle > .old_price{
     font-size: 1.5em;
     margin-left: 10px;
     color: #818A96;
     position: relative;
 }
 .right_side_middle_middle > .old_price::after{
     content: "";
     background-color: #818A96;
     display: block;
     position: absolute;
     width: 100%;
     height: 1px;
     top: 50%;
     left: 50%;
     transform: translateX(-50%);
 }
 .right_side_middle_bottom{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 10px;
     height: 50px;
     margin-top: 20px;
 }
 .right_side_middle_bottom > p{
     font-size: .8em;
     color: #000000;
 }
 .right_side_img_container{
     height: 40px;
     width: 40px;
     background-color: #F1F5F9;
     cursor: pointer;
 }
 .right_side_img_container > img{
     width: 80%;
     height: 100%;
     display: block;
     object-fit: contain;
     margin: auto;
 }
 .right_side_img_container_active{
    height: 40px;
     width: 40px;
     background-color: #F1F5F9;
     cursor: pointer;
 }
 .right_side_img_container_active > img{
    width: 80%;
    height: 100%;
    display: block;
    object-fit: contain;
    margin: auto;
 }
 .right_side_middle_bottom .right_side_img_container_active{
    border: 1px solid #5D656F;
    position: relative;
    cursor: pointer;
}
.right_side_middle_bottom .right_side_img_container{
    position: relative;
    cursor: pointer;
}
.right_side_middle_bottom .right_side_img_container:hover{
    border: 1px solid #5D656F;
}
 .right_side_middle_bottom .right_side_img_container_active > span{
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #CAD1DA;
    position: absolute;
    top: -80%;
    left: -17%;
    text-align: center;
    line-height: 25px;
 }
 .right_side_middle_bottom .right_side_img_container > span{
    visibility: hidden;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #CAD1DA;
    position: absolute;
    top: -80%;
    left: -17%;
    text-align: center;
    line-height: 25px;
 }
 .right_side_middle_bottom .right_side_img_container:hover > span{
    visibility: visible;
}
.right_side_warranty{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 8px;
}
.right_side_warranty > p{
   color: #818A96;
   font-size: .7em;
   margin-top: 5px;
}
.right_side_warranty .first::before{
  content: url('./images/bus.svg');
  position: relative;
     right: 5px;
     top: 3px;
     cursor: pointer;
}
.right_side_warranty .second::before{
    content: url('./images/back.svg');
    position: relative;
       right: 5px;
       top: 3px;
       cursor: pointer;
  }
  .right_side_warranty .third::before{
    content: url('./images/protect.svg');
    position: relative;
       right: 5px;
       cursor: pointer;
  }

 
 .inline_top{
     display: flex;
     gap: 10px;
 }
 .inline_top > div {
     background-color: #FFBF46;
     border-radius: 10px;
     width: 25%;
     height: 20px;
     
 }
 .inline_top > div > p {
     text-align: center;
     font-size: .8em;
     color: #161B21;
 }
 .inline_top > p {
     font-size: .6em;
     font-weight: 300;
     align-self: center;
 }
 .right_side_bottom{
    grid-area: main3;
    flex-direction: column;
    align-items: flex-start;
}
.learn_more_information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    background-image: linear-gradient(to right,#29323D, #3a485a,#29323D);
}
.learn_more_information > p{
  font-size: .7em;
  color: #FFBF46;
  margin: 0 10px;
}
.learn_more_information .learn_more_information_first_child::before{
  content: url('./images/check.svg');
  position: relative;
       right: 5px;
       top: 3px;
       cursor: pointer;
}
.learn_more_information .learn_more_information_second_child::after{
    content: "";
    background-color: #FFBF46;
    width: 100%;
    height: 1px;
    display: block;
}
.right_side_bottom_btns{
  display: flex;
  margin: 10px 0 0 0;
  gap: 20px;
  height: 40px;
}
.right_side_bottom_btns > button{
    flex: 1;
}
#add_btn{
  background-color: #161B21;
}
#add_btn > p{
   
    line-height: 40px;
    text-align: center;
    font-size: .9em;
    color: #CAD1DA;
  }
  #add_btn > p::before{
    content: url('./images/carcar.svg');
  position: relative;
       right: 8px;
       top: 3px;
       
  }
#buy_btn{
    border: 1px solid #FFBF46;
    font-size: .7em;
    
}
#buy_btn > span{
    color: #FFBF46;
    
}
.bottom_links{
    grid-area: main4;
    display: flex;
    align-items: center;
}
.bottom_links > p{
   font-size: .8em;
   color: #818A96;
   margin: 0 20px;
}
p.heart::before{
    content: url('./images/heart.svg');
    position: relative;
         right: 8px;
         top: 3px;
}
p.compare::before{
    content: url('./images/rect.svg');
    position: relative;
         right: 8px;
         top: 3px;
}
p.download::before{
    content: url('./images/download.svg');
    position: relative;
         right: 8px;
         top: 3px;
}
@media only screen and (max-width: 900px) {
    .main_information{
       display: flex;
       flex-direction: column;
    }
    .left_side{
        display: flex;
        flex-direction: column;
    }
    .left_bottom{
        display: none;
    }
    .left_scrollbar{
        display: flex;
        flex-direction: row;
    }
    .left_mini_img{
        flex: 1;
    }
    .right_side{
        display: flex;
        flex-direction: column;
        justify-items: stretch;
        
        
    }
   }

 